<div class="row savings-intro">
  <div ba-panel class="akr-panel">
    <div id="page-title">
      <h2>AKROPOLIS</h2>
      <p>3-pot savings system</p>
    </div>
    <div class="panel">
      <div class="panel-body">
        <h3 class="title-hero">
          Akropolis Pension
        </h3>
        <div class="pension-info">
          An account designed for the long-term. Save into your voluntary pension with funds released when you reach age
          of retirement.
        </div>

        <h3 class="title-hero">
          Akropolis Emergency Fund
        </h3>
        <div class="pension-info">
          Save for a rainy day or in case of emergency. Your funds will be made available to you when you need them the
          most.
        </div>

        <h3 class="title-hero">
          Akropolis Short Term Savings
        </h3>
        <div class="pension-info">
          Short term savings are your best choice to save for vacations, vehicles, electronics, and increasing your quality of life.
          Save into this account where your funds will be ready
          to spend in the short term. You have full control over whether you'd like to spend or save.
        </div>

        <div>
          <a href="#!/savings/funds" class="btn btn-primary btn-lg" style="margin-top: 30px; width: 200px;">
            <span>Let's go</span>
          </a>
        </div>

      </div>
    </div>

  </div>
</div>
