<div class="akr-saving panel">

  <div class="panel-body">

    <div>
      <div class="header">
        <div class="main">
          Akropolis
        </div>
        <div class="sub">
          {{ $ctrl.saving.label }}
        </div>
      </div>
      <div class="header right">
        <div class="main">
          {{ $ctrl.saving.balance | gbp }}

        </div>
        <div class="sub">
          {{ $ctrl.saving.additionalInfo }}
        </div>
        <div style="position: absolute; top: 70px; right: 20px;">
          <a href="#!/savings/deposit"><i class="fa fa-credit-card" style="font-size: 36px;"></i></a>
        </div>
      </div>
    </div>


    <div class="description" style="clear: both;">
      <div class="info">
        <span>Flexible Withdraw</span>
      </div>
      <div class="info">
        <span>Proof of Ownership</span>
      </div>
      <div class="info">
        <span>Allocation Control</span>
      </div>
    </div>

    <div style="clear: both; margin-top: 60px">
    </div>

  </div>

</div>