<div class="row funds-allocation">
  <div ba-panel class="akr-panel">
    <div id="page-title">
      <h2>Select Funds</h2>
    </div>
    <div class="panel">
      <div class="panel-body">

        <akr-fund ng-repeat="(key, value) in $ctrl.funds"
                  key="{{key}}"
                  fund="value"
                  max="100 - $ctrl.otherAllocationSum(key)"></akr-fund>

        <div class="progress">
          <div class="progress-bar progress-bar-info" role="progressbar"
               ng-style="{'width': $ctrl.fundsSplitSum() + '%'}">
            <span>Total: {{$ctrl.fundsSplitSum()}}%</span>
          </div>
        </div>


        <div>
          <a ng-click="$ctrl.configureAllocations()" class="btn btn-primary btn-lg" style="margin-top: 30px">
            Create saving accounts
          </a>
        </div>

      </div>
    </div>

  </div>
</div>