.sub-title {
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-transform: none;
    line-height: 32px;
    color: #99a9b5;
    -webkit-font-smoothing: antialiased;
}

.title {
    font-family: "Open Sans"s;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    color: #4fcfa1 !important;
    line-height: 48px;
}