<div class="row">

  <div class="col-lg-9 col-md-12 col-sm-12">
    <div ba-panel ba-panel-title="Savings" ba-panel-class="with-scroll" ng-if="$ctrl.accounts">
      <akr-savings-chart age="$ctrl.age" saving-goal="$ctrl.savingGoal" accounts="$ctrl.accounts"></akr-savings-chart>
    </div>

    <div ba-panel ba-panel-title="Pension funds">
      <!-- Create savings button -->
      <div class="akr-saving panel" ng-if="!$ctrl.accounts">
        <div class="panel-body">
          <div class="description create-button" ng-click="$ctrl.createSavingAccounts()">
              <i class="fa fa-calendar-plus-o"></i> <span>Create a new Akropolis Account</span>
          </div>
        </div>
      </div>

      <akr-saving
              ng-repeat="(key, value) in $ctrl.accounts"
              saving="value"
              saving-goal="$ctrl.savingGoal"
              type="key">
      </akr-saving>
    </div>
  </div>

  <div class="col-lg-3 col-md-12 col-sm-12" style="padding-top: 5px" ng-if="$ctrl.accounts">
    <dashboard-pie-chart accounts="$ctrl.accounts" age="$ctrl.age" saving-goal="$ctrl.savingGoal"></dashboard-pie-chart>
  </div>


</div>