<div class="row">
  <div class="col-md-4 center-margin">
    <div id="page-title" class="center-div">
      <h2>AKROPOLIS</h2>
      <p>3-pot savings system</p>
    </div>
    <div class="panel">
      <div class="panel-body">
        <h3 class="title-hero">
          Akropolis Pension
        </h3>
        <div class="example-box-wrapper">
          An account designed for the long-term. Save into your voluntary pension with funds released when you reach age
          65.
        </div>

        <h3 class="title-hero">
          Akropolis Emergency Fund
        </h3>
        <div class="example-box-wrapper">
          Save for a rainy day or in case of emergency. Your funds will be made available to you when you need them the
          most.
        </div>

        <h3 class="title-hero">
          Akropolis Short Term Savings
        </h3>
        <div class="example-box-wrapper">
          Vacation, car, big screen TV, your wedding or...anything! Save into this account where your funds will be
          ready
          to spend in 2 years. Change your mind? No problem!
        </div>

        <div>
          <button type="button" class="btn btn-primary btn-lg" style="width: 100%">
            <span style="margin-right: 50px">Let's go</span> <span style="margin-left: 50px">0 AET</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>