<dashboard-pie-chart></dashboard-pie-chart>

<div class="row">
  <div class="col-lg-3 col-md-12 col-sm-12"
       ba-panel
       ba-panel-title="Welcome!"
       ba-panel-class="medium-panel traffic-panel">
    <div>
      <div class="alert bg-info">
        <p>Your account is being verified now. We'll notify you as soon as that's complete.</p>
        <p>Feel free to explore and get started by setting up the rest of your Akropolis account</p>
        <div class="control-alert" style="text-align: center">
          <a href="#!/pension/introduction" class="btn btn-primary">Setup your Akropolis Pension</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-12 col-sm-12"
       ba-panel
       ba-panel-title="Funds"
       ba-panel-class="medium-panel">
    <dashboard-line-chart></dashboard-line-chart>
  </div>
</div>