<div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12">
        <div ba-panel ba-panel-title="Savings" ba-panel-class="medium-panel">
            <dashboard-line-chart></dashboard-line-chart>
        </div>

        <div ba-panel ba-panel-title="Pension funds" ba-panel-class="medium-panel traffic-panel">

            <div class="control-alert" style="text-align: center">
                <a href="#!/pension/introduction" class="btn btn-primary">Setup your Akropolis Pension</a>
            </div>
        </div>

    </div>

    <div class="col-lg-3 col-md-12 col-sm-12" style="padding-top: 5px">
        <dashboard-pie-chart></dashboard-pie-chart>

    </div>

</div>