.akr-stepper {
  .minus, .plus, .value {
    display: inline-block;
    vertical-align: middle
  }

  .minus, .plus {
    &:hover {
      cursor: pointer;
      color: #209e91;
    }

    color: #000000;
    font-size: 32px;
  }

  .value {
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    text-align: center;
    font-size: 18px;
  }
}